.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.logo-container {
    margin-bottom: 100px; /* Adds space between logo and login form */
}

.logo {
    width: 300px;
    height: auto;
}

.login-container {
    width: 450px;
    padding: 40px 30px;
    background: rgba(255, 255, 255, 0.8); /* White frosted glass effect */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #000;
}

.welcome-text h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #efeded;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: black; /* Black border on focus */
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #1b1a1a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.login-button:hover {
    background-color: #585757;
}

.login-button:active {
    background-color: #656161;
}

.bold {
    font-weight: bold;
}
