/* src/components/Navbar.css */


  /* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: white;
}

.logo {
  height: 40px;
}

.logout-button {
  background-color: white;
  color: #f44336;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout-button:hover {
  color: #e8aaaa;
}
  