
/* src/components/PricingHeader.css */
.pricing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-top: 30px;
  background-color:  #000;
  border-bottom: 1px solid  #000;
  color: white;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 500; 
}

.pricing-header h1 {
  font-size: 28px;
  margin: 0;
  color: white;
}

.pricing-header .buttons {
  display: flex;
  gap: 10px;
}

.pricing-header .buttons button {
  background-color: #00c802;
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
