
.filter-section {
  background-color: #ffffff;
  width:20%;
  padding: 20px;
  /* border: 1px solid #ddd;
  border-radius: 10px; */
  margin-right: 20px;
    font-family: 'Alumni Sans', sans-serif; 
}

.filter-group {
  margin-bottom: 20px;
}

.sort-select, .regions-select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.sort-select option, .regions-select option {
  padding: 10px;
}

.filter-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 18px;
  font-family: 'Alumni Sans', sans-serif; 
}

.filter-group input[type="text"],
.filter-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 0px;
}





/* Other filter section styles */
.filter-group {
  margin-bottom: 25px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adds space between buttons */
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  width: 235px;
  text-align: left;
  border-radius: 0px;
}

.dropdown-button:focus {
  outline: none;
  border-color: #f8e9e9;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 235px;
}

.dropdown-menu li {
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer
}

.dropdown-menu li:hover {
  background-color: #f8e9e9;
  color: red;
 
}

.dropdown-menu li.selected {
  background-color: #f8e9e9;
  color: red;
}
.genre-button {
  background-color: #656161;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:-3px;}

.filter-options {
  background-color: #656161;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:2px;
}

.type-button{
  background-color: #656161;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:2px;
}

.genre-button.selected, .type-button.selected,.filter-options.active {
  background-color: #d9534f; /* Red background for selected */
}

.genre-button:hover, .type-button:hover,.filter-options:hover {
  background-color: #d7322c;
}

.genres, .types {
  display: flex;
  flex-wrap: wrap;
  
}


.region-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.region-tag {
  background-color: #555;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
}

.region-tag button {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
