
.filter-section {
  background-color: #1E2124;
  width:20%;
  height: fit-content;

  padding: 20px;
  /* border: 1px solid #ddd;
  border-radius: 10px; */
  margin-right: 20px;
  font-family: 'Alumni Sans', sans-serif; 
}

.filter-group {
  margin-bottom: 20px;
}

.filter-label {
  color: #00C802;
}


.sort-select, .regions-select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.sort-select option, .regions-select option {
  padding: 10px;
}

.filter-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 18px;
  font-family: 'Alumni Sans', sans-serif; 
}

.filter-group input[type="text"],
.filter-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 0px;
}

.disc {
  color: #00C802;
}



/* Other filter section styles */
.filter-group {
  margin-bottom: 25px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adds space between buttons */
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  width: 235px;
  text-align: left;
  border-radius: 0px;
}

.dropdown-button:focus {
  outline: none;
  border-color: #ecfadf;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 235px;
}

.dropdown-menu li {
  padding: 10px;
  font-size: 16px;
  color: #1E2124;
  cursor: pointer
}

.dropdown-menu li:hover {
  background-color: #ecfadf;
  color: #000;
 
}

.dropdown-menu li.selected {
  background-color: #ecfadf;
  color: #000;
}

.genre-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:-3px;}

.filter-options {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:2px;
}

.type-button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 15px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin:2px;
}

.genre-button.selected, .type-button.selected, .filter-options.active {
  background-color: #00C802; /* Red background for selected */
}

.genre-button:hover, .type-button:hover, .filter-options:hover {
  background-color: #00C802;
}

.genres, .types {
  display: flex;
  flex-wrap: wrap;
  
}


.region-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.region-tag {
  background-color: #555;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
}

.region-tag button {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
